.grid.header-grid {
	align-items: center;
	display: flex !important;
	gap: var(--layout-grid-gap);
	justify-content: space-between;
}

.grid.header-grid > * {
    grid-column: auto !important;
}

section {
    background: var(--color-dark-gray);
}

.menu-btn {
	align-items: center;
	color: var(--color-white);
	display: inline-flex;
    font-size: 1.5rem;
	justify-content: center;
}
