:root {
    --color-blue: #3A3AFF;
    --color-cream: #F8F7F3;
    --color-dark-gray: #1F1F1F;
    --color-pink: #F10064;
    --color-light-beige: #FBF2EB;
    --color-muted: #8A857D;
    --color-seafoam-green: #00C8C6;
    --color-white: #FFFFFF;
}
