:root {
    --color-blue: #3A3AFF;
    --color-dark-gray: #1F1F1F;
    --color-pink: #F10064;
    --color-light-beige: #FBF2EB;
    --color-muted: #6b7280;
    --color-seafoam-green: #00C8C6;
    --color-white: #FFFFFF;
}
