// Grid containers
.first-column {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: flex-start;
}

.second-column {
  align-items: flex-end;
  display: flex;
  gap: var(--layout-grid-gap);

  * {
    flex: 1;
  }
}

.third-column {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: var(--layout-grid-gap);
  justify-content: flex-end;

  p {
    color: var(--color-muted);
    font: {
      size: 0.75rem;
      weight: 400;
    }
    padding: 1.5rem 1.5rem 0;
    text-align: center;
  }
}
// Grid containers

.description-block {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  @media (min-width: 768px) {
    align-items: flex-start;
  }
}

.nav-links {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  li {
    color: var(--color-muted);
    font: {
      size: 0.875rem;
      weight: 400;
    }
    list-style: none;

    a {
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
