<section class="section">
    <div class="container">
        <div class="grid">
            <div class="first-column span-4">
                <div class="description-block">
                    <img
                        alt="Comu"
                        src="/images/logo-comu-black.svg"
                        width="136"
                    />
                    <p>Lorem ipsum dolor sit amet consectetur adipiscing eli aliquam mauris sed maLorem ipsum dolor sit amet consectetur adipiscing eli aliquam mauris sed.</p>
                </div>
                <div class="form">
                    <h5>Receba nosso conteúdo</h5>
                    <div class="form-box">
                        <input type="text" placeholder="E-mail" />
                        <app-button
                            link="#this"
                            text="Inscrever"
                            type="pink"
                        >
                        </app-button>
                    </div>
                </div>
                <div class="socials">
                    <ul>
                        <li>
                            <a href="#this">
                                <i class="fa-brands fa-facebook-f"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#this">
                                <i class="fa-brands fa-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#this">
                                <i class="fa-brands fa-instagram"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#this">
                                <i class="fa-brands fa-linkedin-in"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#this">
                                <i class="fa-brands fa-youtube"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="second-column span-4">
                <ul class="nav-links">
                    <li>
                        <a href="#this">Para criadores</a>
                    </li>
                    <li>
                        <a href="#this">Para marcas</a>
                    </li>
                    <li>
                        <a href="#this">Serviços</a>
                    </li>
                    <li>
                        <a href="#this">Eventos</a>
                    </li>
                    <li>
                        <a href="#this">Institucional</a>
                    </li>
                    <li>
                        <a href="#this">Cases de sucesso</a>
                    </li>
                </ul>
                <ul class="nav-links">
                    <li>
                        <a href="#this">Blog</a>
                    </li>
                    <li>
                        <a href="#this">Termos de uso</a>
                    </li>
                    <li>
                        <a href="#this">Políticas de privacidade</a>
                    </li>
                    <li>
                        <a href="#this">Comunidade</a>
                    </li>
                    <li>
                        <a href="#this">Comu+</a>
                    </li>
                </ul>
            </div>
            <div class="third-column span-4">
                <p>Copyright © 2026 Comu | Todos os direitos reservados | Terms and Conditions | Privacy Policy</p>
            </div>
        </div>
    </div>
</section>
