<section class="section">
  <div class="container">
    <div class="grid">
      <div class="first-column span-4 md-span-2 lg-span-4">
        <div class="description-block">
          <img alt="Comu" src="/images/logo-comu-black.svg" width="136" />
          <p>Movimentando a creator economy.</p>
        </div>
        <div class="socials">
          <ul>
            <li>
              <a href="https://www.instagram.com/nossa.comu/" target="_blank">
                <i class="fa-brands fa-instagram"></i>
              </a>
            </li>
            <li>
              <a href="https://www.tiktok.com/@nossa.comu" target="_blank">
                <i class="fa-brands fa-tiktok"></i>
              </a>
            </li>
            <li>
              <a href="https://www.linkedin.com/company/nossacomu/" target="_blank">
                <i class="fa-brands fa-linkedin-in"></i>
              </a>
            </li>
            <li>
              <a href="https://www.youtube.com/@nossacomu" target="_blank">
                <i class="fa-brands fa-youtube"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="second-column span-4 md-span-2 lg-span-4">
        <ul class="nav-links">
          <li>
            <a href="/">A Comu</a>
          </li>
          <li>
            <a href="/solucoes-para-criadores">Soluções para criadores</a>
          </li>
          <li>
            <a href="/solucoes-para-marcas">Soluções para marcas</a>
          </li>
        </ul>
        <ul class="nav-links">
          <li>
            <a href="/eventos">Eventos</a>
          </li>
          <li>
            <a href="https://wa.me/5561993745254" target="_blank" rel="noopener noreferrer">Quero me vincular</a>
          </li>
        </ul>
      </div>
      <div class="third-column span-4 md-span-2 lg-span-4">
        <p>© 2026 Comu. Todos os direitos reservados.</p>
      </div>
    </div>
  </div>
</section>
