<section class="section">
    <div class="container">
        <div class="grid">
            <div class="hero-description span-4">
                <span>Para criadores & marcas</span>
                <h3>Transforme seu conteúdo em um negócio</h3>
                <p>A energia, o ambiente que faltava para você criar seu próprio ritmo e acreditar de uma vez por todas que nasceu para isso.</p>
            </div>
            <div class="hero-pills span-4"></div>
        </div>
    </div>
</section>

<section class="section brands-section">
    <div class="brands-grid">
        <!-- brand items here -->
    </div>
</section>